Working with Data

In [9]:
import pandas as pd
pd.set_option('display.max_rows', 10)
dataset = pd.read_csv('Data/db.csv', sep = ';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [10]:
# Types of each variable
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [11]:
# Getting info from table
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

Working with Tuples

In [13]:
# An example of Tuple
# They're not mutable
name = 'Passat'
value = 1000

tuple_example = (name, value)
tuple_example

('Passat', 1000)

In [14]:
# Creating tuple example
cars_names = tuple(['Jetta', 'Passat', 'CrossFox', 'DS5'])
cars_names

('Jetta', 'Passat', 'CrossFox', 'DS5')

In [15]:
# Type Show
type(cars_names)

tuple

Tuple's Save in Variables

In [16]:
car_1, car_2, car_3, car_4 = cars_names
car_3

'CrossFox'

Working With Dictionaries

In [6]:
data = {'Jetta': 8000, 'Passat':10000, 'CrossFox':1000}
data

{'Jetta': 8000, 'Passat': 10000, 'CrossFox': 1000}

Operations With Dicts

In [18]:
# Getting info inside Jetta
data['Jetta']

8000

In [19]:
# Finding inside
'Passat' in data

True

In [20]:
# Size
len(data)

3

In [21]:
# Adding inside
data['DS5'] = 12124

print(data)
# Deleting
del data['DS5']
print(data)

{'Jetta': 8000, 'Passat': 10000, 'CrossFox': 1000, 'DS5': 12124}
{'Jetta': 8000, 'Passat': 10000, 'CrossFox': 1000}

Dict's Methods

In [8]:
# Update
print(data.items())

dict_items([('Jetta', 8000), ('Passat', 10000), ('CrossFox', 1000)])

Copy, Pop and Clear are equal from their list equivalent

Iteration in Dicts

In [26]:
# Using keys for getting objects names
for key in data.keys():
    print(data[key])

8000
10002
1000

In [27]:
# Using keys for getting objects values
data.values()

dict_values([8000, 10002, 1000])

PANDAS LEARNING

In [6]:
import pandas as pd

DataFrame

In [6]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

carros = pd.DataFrame(km_media(dados, 2019)).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

Seleções DataFrame

In [8]:
dataset = pd.read_csv('Data/db.csv', sep=';')
# Cinco Primeiros Registros
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

Select Collumn

In [9]:
dataset['Valor']

0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64

In [14]:
# Return as dataframe
dataset[['Valor']]

         Valor
0     88078.64
1    106161.94
2     72832.16
3    124549.07
4     92612.10
..         ...
253   51759.58
254   51667.06
255   68934.03
256  122110.90
257   90381.47

[258 rows x 1 columns]

.loc

In [12]:
dataset.loc['Passat']

KeyError: 'Passat'